<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatech.mall.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.huatech.mall.model.Product">
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="category_no" jdbcType="VARCHAR" property="categoryNo"/>
        <result column="product_image" jdbcType="VARCHAR" property="productImage"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
        <result column="product_stock" jdbcType="INTEGER" property="productStock"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="product_description" jdbcType="VARCHAR" property="productDescription"/>
        <result column="product_start_time" jdbcType="TIMESTAMP" property="productStartTime"/>
        <result column="product_end_time" jdbcType="TIMESTAMP" property="productEndTime"/>
        <result column="product_sales_type" jdbcType="INTEGER" property="productSalesType"/>
        <result column="product_if_recommend" jdbcType="INTEGER" property="productIfRecommend"/>
        <result column="product_now_price" jdbcType="DOUBLE" property="productNowPrice"/>
        <result column="product_now_price_description" jdbcType="VARCHAR" property="productNowPriceDescription"/>
        <result column="product_original_price" jdbcType="DOUBLE" property="productOriginalPrice"/>
        <result column="product_sold_num" jdbcType="INTEGER" property="productSoldNum"/>
        <result column="product_summary" jdbcType="VARCHAR" property="productSummary"/>
        <result column="product_if_can_invoice" jdbcType="INTEGER" property="productIfCanInvoice"/>
        <result column="product_goods_type" jdbcType="INTEGER" property="productGoodsType"/>
        <result column="product_update_user" jdbcType="VARCHAR" property="productUpdateUser"/>
        <result column="product_create_user" jdbcType="VARCHAR" property="productCreateUser"/>
        <result column="product_commend_start_time" jdbcType="TIMESTAMP" property="productCommendStartTime"/>
        <result column="product_commend_end_time" jdbcType="TIMESTAMP" property="productCommendEndTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    product_id, category_no, product_image, product_name, product_status, product_stock, 
    create_time, product_description, product_start_time, product_end_time, product_sales_type, 
    product_if_recommend, product_now_price, product_now_price_description, product_original_price, 
    product_sold_num, product_summary, product_if_can_invoice, product_goods_type, product_update_user, 
    product_create_user, product_commend_start_time, product_commend_end_time, update_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product
        where product_id = #{productId,jdbcType=VARCHAR}
    </select>


    <select id="findProductList"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product
        where product_status = 1;
    </select>

    <select id="queryProductIds"
            resultType="java.lang.String">
        select
            product_id
        from t_product

    </select>
</mapper>